<ul class="reviewListing">
	<% reviews.each(function(review){ %>
		<li>
			<div class="voteBox">
				<a href="/reviews/<%= review.id %>/vote" data-id="up">&#8657</a>
				<br>
				<%= review.escape("votes") %>
				<br>
				<a href="/reviews/<%= review.id %>/vote" data-id="down">&#8659</a>
			</div>
			<p>Stars: <%= review.escape("stars") %></p>
			<p><%= review.escape("body") %></p>
			<h5><%= review.escape("author_name") %> wrote this at <%= review.escape("updated_at") %></h5>
		</li>
	<% }) %>
</ul>