  <% photos.each(function (photo, index) { %>
    <div class='photoBox'><a
                            href='#/businesses/<%= photos.businessId %>/photos/<%= photo.id %>'
                            data-id='<%= photo.id %>'
                            ><img 
                              title='<%= photo.escape("title") %> By: <%= photo.escape("author") %>'
                              data-id='<%= photo.id %>'
                              src='<%= photo.escape('thumbUrl')%>'></a></div>
  <% }); %>
<br>
<a data-id='-1' 
  class="page" 
  href='#prior'
  >Previous</a><a
  class="page" 
  data-id='1'
  href='#next'>More</a>
<br>
<a href="#/businesses/<%= photos.businessId %>/photos/new">Add photos!</a>
