<div data_id="business<%= business.id %>">
	<h3><%= business.escape("name") %></h3>
	<p><%= business.escape("street_address") %></p>
	<p><%= business.escape("city") %>, <%= business.escape("state") %> <%= business.escape("zip") %></p>
</div>